<h1>Login Practice</h1>

<form method="post" action='/login'>
	<input type="username" name="username">
	<input type="password" name="password">
	<input type="submit" value="Login">
</form>

<a href="./">Back to homepage</a>